 body{
    background-color: #000000e3;
    color :white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;    
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    height: 65vh;
    gap: 20px;
    width: min(1000px,90%);
    padding: 30px 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
}
.container h1{
    font-weight: 300;
}
/* for clock timings */
#time, #stopwatch{
    background: #000000ba;
  margin: 10px 0;
  font-size: 50px;
  background-color: #f5f5f578;
  font-weight: 700;
  width: 600px;
  max-width: 600px;
  padding: 12px ;
  text-align: center;
  border-radius: 25px;
  color: black;
  box-sizing: border-box;
}
button{
    padding: 12px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    box-sizing: border-box;
}
.buttons{
    display: flex;
    width: 400px;
    max-width: 600px;
    gap: 10px;
}
.buttons button{
    flex: 1;
}
button:hover{
    transition: all 0.1s ease-in-out;
    background-color: white;
    color:black;

    
} 
.start{
    background: #858585;
}
.stop{
    background: #858585;
}
.reset{
    background: #858585;
}
